@charset "utf-8";

@mixin FullScreen{
  width: 100%;
  height: 100%;
}
@mixin omit{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#app{
  @include FullScreen;
  overflow: hidden;
}
*{
  font-size : 14px;
  font-family : "Microsoft YaHei";
  margin: 0;
  padding: 0;
}
html,body{
  @include FullScreen;
}
ul{
  list-style : none;
}
a{
  text-decoration : none;
}
.fl{
  float : left;
}
.fr{
  float: right;
}